{% extends "_layout.jinja2" %}

{% block content %}
<section>
  <h2>Tutorials</h2>
{% for tutorial in tutorials %}
  <h3><a href="/tutorials/{{ tutorial.tutorial }}">{{ tutorial.title }}</a></h3>
  <p>{{ tutorial.abstract }}</p>
{% endfor %}
</section>
{% endblock content %}
