{% extends "_layout.jinja2" %}

{% block content %}
<section>
  <h2>Tutorials</h2>
  <ul>
{% for tutorial in tutorials %}
    <li><a href="/tutorials/{{ tutorial.tutorial }}">{{ tutorial.tutorial }}</a></li>
{% endfor %}
  </ul>
</section>
{% endblock content %}
