/* HTML5 elements for older browsers */
header, article, section, figure, aside, footer {
  display: block;
}

a {
  text-decoration: none;
}

#rss {
  background: black url(rss.png) -1px 1px no-repeat;
  border-radius: 6px;
  color: transparent;
  display: block;
  font-size:0;
  height: 32px;
  outline: 0;
  padding: 0;
  width: 32px;
}
