{% extends "_layout.jinja2" %}

{% block content %}
  <a id="rss" href="/rss" title="RSS Feed">RSS Feed</a>
  {% for item in news %}
    <section id="{{ item.datetime }}">
      <h2>
        <time datetime="{{ item.datetime | pretty_datetime("_iso_") }}">
          {{ item.datetime | pretty_datetime }}
          <small>{{ item.datetime | pretty_datetime('%H:%M') }}</small>
        </time>
      </h2>
      {{ item.html | safe }}
    </section>
  {% endfor %}
{% endblock content %}
