{% extends "_layout.jinja2" %}

{% block content %}
<section>
  <h2>Tutorials</h2>
{% for tutorial in tutorials | sort %}
  <h3><a href="/tutorials/{{ tutorial.id }}">{{ tutorial.title }}</a></h3>
{% endfor %}
</section>
{% endblock content %}
